.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-position{
      position: fixed;
      bottom: 86px;
      left:37px;
  }